<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
    <p>Maintained by the <a href="https://github.com/orgs/twbs/people">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>
    <p>Code licensed under <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>, documentation under <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>
    <ul class="bs-docs-footer-links text-muted">
      <li>Currently v3.3.4</li>
      <li>·</li>
      <li><a href="https://github.com/twbs/bootstrap">GitHub</a></li>
      <li>·</li>
      <li><a href="http://getbootstrap.com/getting-started/#examples">Examples</a></li>
      <li>·</li>
      <li><a href="http://getbootstrap.com/2.3.2/">v2.3.2 docs</a></li>
      <li>·</li>
      <li><a href="http://getbootstrap.com/about/">About</a></li>
      <li>·</li>
      <li><a href="http://expo.getbootstrap.com/">Expo</a></li>
      <li>·</li>
      <li><a href="http://blog.getbootstrap.com/">Blog</a></li>
      <li>·</li>
      <li><a href="https://github.com/twbs/bootstrap/issues">Issues</a></li>
      <li>·</li>
      <li><a href="https://github.com/twbs/bootstrap/releases">Releases</a></li>
    </ul>
  </div>
</footer>